@model IEnumerable<UserListingViewModel>
@{
    ViewData["Title"] = "Users";
}
<main class="mt-3 mb-5 container">
    <h1 class="text-center">All Users</h1>
    <hr class="hr-2 eventures-bg-color"/>
    <table class="table table-hover">
        <thead>
        <tr class="row font-weight-bold">
            <th class="col-md-4">Username</th>
            <th class="col-md-4">Name</th>
            <th class="col-md-4">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            <tr class="row font-weight-bold">
                <td class="col-md-4">@user.UserName @(user.IsAdmin ? "(Admin)" : string.Empty)</td>
                <td class ="col-md-4">@user.FirstName @user.LastName</td>
                <td class="col-md-4">
                    @if (!user.IsAdmin)
                    {
                        <form asp-controller="Users" asp-action ="Promote" method="post">
                            <input type="hidden" name="userId" value="@user.Id">
                            <button type="submit" class="btn eventures-bg-color">Promote</button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Users" asp-action ="Demote" method="post">
                            <input type="hidden" name="userId" value="@user.Id">
                            <button type="submit" class="btn btn-danger">Demote</button>
                        </form>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
    <hr class="hr-2 eventures-bg-color"/>
</main> 