@model List<Eventures.ViewModels.AllOrdersViewModel>
@{

}

<h1 class="text-center">All Orders</h1>
<hr class="eventures-bg-color hr-2 w-75" />
<table class="table w-75 mx-auto table-hover border-top-0">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Event</th>
        <th scope="col">Customer</th>
        <th scope="col">Ordered On</th>
    </tr>
    </thead>
    <tbody>

    @for (int i = 0; i < @Model.Count; i++)
    {
        <tr>
            <th scope="row">@(i + 1)</th>
            <td>@Model[i].EventName</td>
            <td>@Model[i].CustomerName</td>
            <td>@Model[i].OrderedOn</td>
        </tr>
    }
    </tbody>
</table>
<hr class="eventures-bg-color hr-2 w-75" />

