@model IEnumerable<Chushka.ViewModels.OrderListViewModel>

<h1 class="text-center">All Orders</h1>
<hr class="hr-2 bg-dark"/>
<table class="table w-75 mx-auto table-hover">
    <thead>
    <tr class="row">
        <th class="col-md-1">#</th>
        <th class="col-md-4">Order ID</th>
        <th class="col-md-2">Customer</th>
        <th class="col-md-2">Product</th>
        <th class="col-md-2">Ordered On</th>
    </tr>
    </thead>
    <tbody>
        @{
            int index = 0;
        }
        @foreach (var m in @Model)
        {
            {
                index++;
            }
            <tr class="row">
                <th class="col-md-1">@index</th>
                <td class="col-md-4">@m.Id</td>
                <td class="col-md-2">@m.Customer</td>
                <td class="col-md-2">@m.Product</td>
                <td class="col-md-2">@m.OrderedOn</td>
            </tr>
        }

    </tbody>
</table>