@model IEnumerable<Eventures.Web.Models.OrderListingViewModel>
@{
    int i = 0;
}

<h1 class="text-center">My Events</h1>
<hr class="eventures-bg-color hr-2 w-75" />
<table class="table w-75 mx-auto table-hover border-top-0">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Tickets</th>
        </tr>
    </thead>
    <tbody>

        @foreach(var m in @Model)
        {
            <tr>
                <th scope="row">@(i++)</th>
                <td>@m.Event.Name</td>
                <td>@m.Event.StartDate.ToString("dd-MM-yy hh:mm:ss")</td>
                <td>@m.Event.EndDate.ToString("dd-MM-yy hh:mm:ss")</td>
                <td>@m.TicketsCount</td>
            </tr>
        }
    </tbody>
</table>
<hr class="eventures-bg-color hr-2 w-75" />

